/*
Forrest Wong
fwong1
CSC 4370
*/

body {
	font-family: "Comic Sans MS";
	margin-left: 0px;
	background-image: url("images/background-blue.jpg");
	background-size: 750px 750px;
	text-align: center;
}

.body {
	margin-left: 150px;
	margin-right: 150px;
	padding-top: 40px;
	margin-bottom: 80px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
	
	position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
	border-right: 1px solid #bbb;
}

li:last-child {
    border-right: none;
	border-left: 1px solid #bbb;
}

li a{
	font-family: Verdana, Geneva, sans-serif;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


li a:hover:not(.active) {
    background-color: #8c8c8c;
}

.active {
    background-color: #4CAF50;
}

h1 {
	text-align: center;
	font-size: 300%;
}

hr {
	margin-top: 50px;
}

h2 {
	font-size: 180%;
}

p {
	font-size: 120%;
}

